n8n-weather-workflow_JasonFile
{
  "name": "Weather Forecast",
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "27dd008b-db98-49e2-8800-231c960abad8",
              "name": "lat",
              "value": "={{ $json.results[0].latitude }}",
              "type": "number"
            },
            {
              "id": "de9b8839-b43d-44be-8590-c8d53f6823f0",
              "name": "long",
              "value": "={{ $json.results[0].longitude }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1072,
        272
      ],
      "id": "6f002b01-9537-4b41-bd39-9fa2d3adebd5",
      "name": "Extract Lat Long"
    },
    {
      "parameters": {
        "options": {
          "responseMode": "responseNodes"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -1648,
        272
      ],
      "id": "00bb78c5-fb8b-4b46-9b43-9fd0f1fa4f84",
      "name": "When chat message received",
      "webhookId": "d3848e6c-a0ab-4718-bd21-8a59720cf596"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -416,
        192
      ],
      "id": "c7f70924-7f5c-4d11-9044-d9be3910ae48",
      "name": "Merge"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -1120,
        144
      ],
      "id": "31caae22-8dbd-4709-bbf5-e477317f542b",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "fieldToSplitOut": "chatInput",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -1600,
        80
      ],
      "id": "caf31abf-7c28-4274-bb1c-4b2fed641fef",
      "name": "Split Out"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "963333f0-11db-4ba5-af9d-b64ff7ea261e",
              "leftValue": "={{ $json.current.temperature_2m }}",
              "rightValue": 32,
              "operator": {
                "type": "number",
                "operation": "lt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -208,
        192
      ],
      "id": "00ffe1c3-5243-4c41-a481-b6df30505bc5",
      "name": "Tem 30"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "11ffa45f-0660-4dd2-853c-1cf6339d8519",
              "leftValue": " {{ $json.current.temperature_2m }",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        0,
        96
      ],
      "id": "fc8eca80-ab21-423a-8bdd-c45d905193ed",
      "name": "tem 22"
    },
    {
      "parameters": {
        "message": "=Too Hot in \"{{ $json.chatInput }}\"!",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chat",
      "typeVersion": 1.3,
      "position": [
        0,
        288
      ],
      "id": "0d72b869-66e7-4238-862c-2e006e247f19",
      "name": "HOT",
      "webhookId": "d4be02d8-6266-4893-953a-392ee45a4c4c"
    },
    {
      "parameters": {
        "message": "=Nice Weather in \"{{ $json.chatInput }}\"!",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chat",
      "typeVersion": 1.3,
      "position": [
        208,
        192
      ],
      "id": "6279a216-8e10-4421-8ec7-78212b534b34",
      "name": "NICE",
      "webhookId": "907c196e-8b1e-4b49-a885-575dd5253e50"
    },
    {
      "parameters": {
        "message": "=Chilly in \"{{ $json.chatInput }}\"!",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chat",
      "typeVersion": 1.3,
      "position": [
        208,
        0
      ],
      "id": "a98e6d8a-bd61-4c4d-9dfb-bf8a6a338b99",
      "name": "Chilly",
      "webhookId": "fd7a74d0-051b-4c51-8315-be03c13fe2d3"
    },
    {
      "parameters": {
        "url": "=https://api.open-meteo.com/v1/forecast?latitude={{$json.lat}}&longitude={{$json.long}}&current=temperature_2m,relative_humidity_2m,weather_code",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -576,
        272
      ],
      "id": "2ba27a66-3c8d-4926-9386-cb7570a5666f",
      "name": "Get Weather"
    },
    {
      "parameters": {
        "url": "=https://geocoding-api.open-meteo.com/v1/search?name={{ $json.responseData.translatedText }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -1264,
        272
      ],
      "id": "86434ec9-194f-41aa-a34e-5c15f3441919",
      "name": "GetLocationData",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "b7f618f1-68c7-4543-8f6c-c5faf698b957",
              "leftValue": "={{ $json.lat }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "44944c9c-6d24-4c13-8573-abff856975c0",
              "leftValue": "={{ $json.long }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -864,
        272
      ],
      "id": "a66b7c6b-496a-4a28-9ada-089189986de1",
      "name": "If"
    },
    {
      "parameters": {
        "url": "=https://api.mymemory.translated.net/get?q={{ $json.chatInput }}&langpair=ja|en",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -1472,
        288
      ],
      "id": "3ef01ad6-9678-4e71-9855-7e6ecdd5936e",
      "name": "Japan into English Translated"
    },
    {
      "parameters": {
        "message": "=\"{{ $('When chat message received').item.json.chatInput }}\" city does not exit! ",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chat",
      "typeVersion": 1.3,
      "position": [
        -608,
        416
      ],
      "id": "0ce86bcb-34e1-4655-87c6-d269e08fcc72",
      "name": "Error Message",
      "webhookId": "f48d9772-3fe0-4a02-ba16-0b8940111235",
      "onError": "continueErrorOutput"
    }
  ],
  "pinData": {},
  "connections": {
    "Extract Lat Long": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          },
          {
            "node": "Japan into English Translated",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Tem 30",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Operation, do nothing": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tem 30": {
      "main": [
        [
          {
            "node": "tem 22",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HOT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "tem 22": {
      "main": [
        [
          {
            "node": "Chilly",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "NICE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Weather": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "GetLocationData": {
      "main": [
        [
          {
            "node": "Extract Lat Long",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Get Weather",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Japan into English Translated": {
      "main": [
        [
          {
            "node": "GetLocationData",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "35b2039f-e77c-4f99-a0e2-4786a9b2e415",
  "meta": {
    "instanceId": "7f75f12e74f98852ac6c5825f11fcf353d8a19d0b60bed9ada34a4ab41f85b93"
  },
  "id": "Ll4wEQChKq6HWUAR",
  "tags": []
}
